html, body {
  padding: 0;
  margin: 0; }

button {
  float: right; }

svg#grid {
  margin-top: 50px; }

polygon.region {
  fill: #cccccc;
  /*    shape-rendering: crispEdges;*/
  transition: fill .20s ease-in-out;
  -moz-transition: fill .20s ease-in-out;
  -webkit-transition: fill .20s ease-in-out; }
  polygon.region.region:hover {
    fill: yellow; }
