html, body {
  padding: 0;
  margin: 0; 
  height: 100%;
}

svg {
  font: 10px sans-serif;
  position: absolute;
  top: 0;
  right: 0;
}

iframe {
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
}

rect.overlay {
    fill: #ffeeff;
}

g.marker path {
    fill: cyan;
    transition: fill .20s ease-in-out;
    -moz-transition: fill .20s ease-in-out;
    -webkit-transition: fill .20s ease-in-out;
}

g.marker:hover path {
  fill: yellow;
  cursor: pointer;
}

path.region:first-child {
    fill: green;
}

path.region:not(:first-child) {
    fill: darkgreen;
    stroke-width: 0;
    stroke: #0F0;
    transition: stroke-width .20s ease-in-out;
    -moz-transition: stroke-width .20s ease-in-out;
    -webkit-transition: stroke-width .20s ease-in-out;
}

path.region:not(:first-child):hover {
  stroke-width: 1;
  cursor: pointer;
}
